# name: Deploy Lambda Function
# on:
#   push:
#     branches:
#       - main

# jobs:
#   deploy:
#     strategy:
#       matrix:
#         lambda_functions:
#           - name: lambda1
#             handler: main
#             path: ./path-to-lambda1
#           - name: lambda2
#             handler: main
#             path: ./path-to-lambda2
#     runs-on: ubuntu-latest
#     steps:
#       - name: checkout source code
#         uses: actions/checkout@v3

#       - name: Install Go
#         uses: actions/setup-go@v1
#         with:
#           go-version: "1.20.x" # Specify the Go version you need

#       - name: Build Lambda function
#         # run: go build -o main'
#         run: |
#           cd server && CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -v -a -o main cmd/${{ matrix.lambda_functions.name }}/main.go && zip deployment.zip main

#       - name: Archive Lambda function
#         uses: actions/upload-artifact@v2
#         with:
#           name: lambda-package
#           path: main

#       - name: Deploy to Lambda
#         uses: appleboy/lambda-action@v2
#         with:
#           aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#           aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#           aws_region: your-aws-region
#           function_name: ${{ matrix.lambda_functions.name }}
#           function_handler: ${{ matrix.lambda_functions.handler }}
#           archive: lambda-package/main
#           iam_role: your-iam-role-arn
